$font-1st: 'Georgia', serif;
$font-2nd: 'Georgia' , serif;
$font-3rd: 'Georgia', serif;
$home: true !default;

$color-1st: #373535;
$color-layout-2-1st: black;
$color-autopart: #ff6749;
$color-technology: #0071df;
$color-electronic: #ff4e2f;
$color-furniture: #fb7c00;
$color-organic: #9dfc2f;
$color-kids: #78c9ff;
$color-photo: #ff3939;
$color-2nd: #000000;
$color-3rd: #5e6b9d;
$color-heading: #000000;
$color-text: #a7a7a7;
$color-text-2: #373636;
$color-dark: #161824;
$color-link: #52a2ff;

$color-success: #ccff67;
$color-warning: #faa806;
$color-danger: #ec0101;
$color-gray: #9e9e9e;
$color-facebook: #3b5999;
$color-twitter: #55acee;
$color-google: #dd4b39;
$color-linkedin: #0077b5;
$color-instagram: #0077b5;
$document-font-size: 14px;

$timing: cubic-bezier(0.77, 0, 0.175, 1);
$timing-1: cubic-bezier(0.7, 0, 0.3, 1);
$timing-2: cubic-bezier(0.2, 1, 0.3, 1);
