#homepage-1 {
    .ps-home-banner {

        .ps-container {
        padding: 0px 0px;
            display: flex;
            flex-flow: row nowrap;

            > * {
                width: 100%;
            }



            //.ps-section__right {
            //    max-width: 390px;
            //
            //    .ps-collection {
            //        display: block;
            //        margin-bottom: 30px;
            //
            //        &:last-child {
            //            margin-bottom: 0;
            //        }
            //    }
            //}

            @include media('<lg') {
                display: block;
                .ps-section__left {
                    max-width: 100%;
                    margin-bottom: 10px;
                    alignment: center;
                }

                .ps-section__right {
                    display: flex;
                    flex-flow: row nowrap;
                    margin: 0;
                    max-width: 100%;
                    .ps-collection {
                        width: 100%;
                        max-width: 50%;
                        padding: 0 5px;

                        img {
                            width: 100%;
                        }
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }

    .ps-site-features {
       height: 0px;
    }

    .ps-deal-of-day {
        height: 0px;
        .slick-slide {
            > div {
                margin: 0 8px;
            }
        }

        .ps-product {
            .ps-product__price {
                color: #cfff63;
                font-size: 18px;
                font-weight: 600;

                del {
                    margin-left: 10px;
                    font-size: 14px;
                }

                small {
                    margin-left: 10px;
                    color: #ff5e5e;
                }
            }
        }
    }

    .ps-top-categories {
        padding-left: 15%;
        padding-right: 15%;

        h3 {
            text-align: center;
            font-family: Helvetica, sans-serif;
            font-weight: 300;
            font-style: normal;
            margin: 0 0 0.5em;
            line-height: 1.4;
            text-rendering: optimizeLegibility;
        }

        @media (min-width: 1440px) {

            .row {
                .col-xl-2 {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }
        @media (min-width: 768px) {
            .row {
                .col-xl-2 {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }
        @media (min-width: 992px) {

            .row {
                .col-xl-2 {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }

        @include media('<lg') {
            padding: 0px 0;
        }

        @include media('<md') {
            padding: 50px 0;
        }

        @include media('<sm') {
            padding: 40px 0;
        }

        @include media('<xs') {
            padding: 35px 0;
        }
    }

    .ps-product-list {
        padding-bottom: 80px;
        @include media('<md') {
            padding-bottom: 50px;
        }
        @include media('<sm') {
            padding-bottom: 40px;
        }
        @include media('<xs') {
            padding-bottom: 0px;
        }
    }

    .ps-download-app {
        margin-top: 80px;
        margin-bottom: 100px;
        @include media('<sm') {
            margin-bottom: 50px;
        }
    }

    .ps-carousel {
        .slick-list {
            padding-right: 3px !important;
        }
    }
}
