.sub-toggle {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    @include transform-style(preserve-3d);
    display: none;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 1px;
        background-color: $color-heading;
    }

    &:before {
        @include transform(translateX(-50%));
    }

    &:after {
        @include transform(translateX(-50%) rotate(90deg));
    }

    &.active {
        &:after {
            display: none;
        }
    }
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 240px;
    z-index: 1000;
    @include transition(all 0.25s ease);
    background-color: #fff;
    border: 1px solid #ccc;
    @include hidden;
    font-family: Montserrat, sans-serif;

    &:before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        @include transform(translateX(-50%));
        @include triangle(12px, #fff, up);
        display: none;
    }

    > li {
        display: block;

        > a {
            display: inline-block;
            padding: 6px 20px;
            width: 100%;
            font-size: 14px;
            color: $color-heading;
            text-transform: capitalize;
            @include transition(all 0.8s $ease-out-expo);

            &:hover {
                color: $color-1st;
            }
        }

        &:last-child {
            border-bottom: none;

            a {
                border-bottom: 1px solid #eee;
            }
        }

        &.menu-item-has-children {
            position: relative;

            > .sub-toggle {
                display: none;
            }

            > .sub-menu {
                position: absolute;
                top: 0;
                left: 100%;
                @include hidden;
                @include transform(translateY(30px));

                &:before {
                    display: none;
                }
            }

            &:hover {
                > .sub-menu {
                    @include show;
                    @include transform(translateY(0));
                }
            }
        }
    }
}

.mega-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px 30px 10px;
    background-color: #fff;
    @include transition(all 0.4s ease);
    border: 1px solid #ccc;

    > * {
        width: 100%;
        padding: 10px 15px;
    }

    h4 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
        color: $color-heading;
    }

    .mega-menu__column {
        min-width: 180px;
    }

    .mega-menu__list {
        background-color: transparent;

        li {
            a {
                display: block;
                color: $color-heading;
                line-height: 20px;
                padding: 5px 0;
                font-size: 14px;
                background-color: transparent;

                &.has-badge {
                    padding-right: 20px;

                    &:after {
                        content: 'New';
                        display: inline-block;
                        position: absolute;
                        top: 5px;
                        right: 0;
                        font-size: 9px;
                    }
                }

                &:hover {
                    color: $color-1st;
                }
            }
        }
    }
}

.menu {
    text-align: left;

    > li {
        display: inline-block;

        > a {
            display: inline-block;
            padding: 15px 25px;
            font-size: 14px;
            line-height: 35px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: white;

            &:hover {
                color: $color-heading;
            }
        }

        &:first-child {
            padding-left: 0;

            > a {
                padding-left: 0;
            }
        }

        &:last-child {
            margin-right: 0;
            padding-right: 0;
        }

        .sub-toggle {
            margin-left: 5px;
            display: none;
        }

        .sub-menu {
            @include hidden();
            @include transform(scale3d(1, 1, 0) translateY(10px));
        }

        .mega-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            @include hidden;
        }

        &.menu-item-has-children {
            position: relative;

            > a {
                &:after {
                    content: '\e93a';
                    font: normal normal normal 12px/1 linearicons;
                    @include vertical-align();
                    right: 0;
                }

                &:before {
                    content: '';
                    width: 13px;
                    height: 13px;
                    background-color: #fff;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    z-index: 10000;
                    border-left: 1px solid #ccc;
                    border-top: 1px solid #ccc;
                    @include transform(rotate(45deg) translate(-50%, -50%));
                    @include transform-origin(0 0);
                    @include hidden;
                }
            }

            &:hover {
                > .sub-menu {
                    @include transform(scale3d(1, 1, 1) translateY(0));
                }
            }
        }

        &.has-mega-menu {
            position: relative;

            .mega-menu {
                position: absolute;
                top: 100%;
                left: 0;
            }

            &:hover {
                .mega-menu {
                    @include show;
                    @include transform(translateY(0));
                }
            }
        }

        &:hover {
            .sub-toggle {
                color: #ffffff;
            }

            > .sub-menu {
                @include show;
            }

            &.menu-item-has-children {
                > a {
                    &:before {
                        @include show;
                    }
                }
            }
        }
    }
}
